body {
    background-color: #E0CAAD;
    color: black;
}

input {
    display: none;
  }
  
  #forkwrapper {
    width: 100px;
    height: 100px;
    position: fixed;
    top: -5vh;
    right: 40vw;
  }

  #fork {
    width: 350px;
    height: 350px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
    background-image: url(Fork.png);
    transform: rotate(-70deg);
    z-index: 2;
  }

  #fork:hover { 
    cursor: grab;
  }

  #cakewrapper {
    width: 50vw;
    margin-left: 25vw;
    margin-top: calc(50vh - 25vw);
  }

  #cakewrapper img {
    display: none;
    width: 100%;
  }

  #forkwrapper > label {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #fork1check:checked ~ #forkwrapper > #fork1label {
    display: block;
  }
  
  #fork1check:checked ~ #forkwrapper {
    top: 5vh;
    transition: 1s;
  }
  
  #fork2check:checked ~ #forkwrapper {
    top: 15vh;
    transition: 1s;
  }
  
  #fork3check:checked ~ #forkwrapper {
    top: 25vh;
    transition: 1s;
  }
  
  #fork4check:checked ~ #forkwrapper {
    top: 32vh;
    transition: 1s;
  }
  
  #fork5check:checked ~ #forkwrapper {
    top: 200px;
    transition: 1s;
  }
  
  #fork1check:checked ~ #cakewrapper > #cake1 {
    display: block;
  }
  
  #fork2check:checked ~ #forkwrapper > #fork2label {
    display: block;
  }
  
  #fork2check:checked ~ #cakewrapper > #cake2 {
    display: block;
  }
  
  #fork3check:checked ~ #forkwrapper > #fork3label {
    display: block;
  }
  
  #fork3check:checked ~ #cakewrapper > #cake3 {
    display: block;
  }
  
  #fork4check:checked ~ #cakewrapper > #cake4 {
    display: block;
  }
  
  #fork4check:checked ~ #forkwrapper > #fork4label {
    display: block;
  }
  
  #fork5check:checked ~ #cakewrapper > #cake5 {
    display: block;
  }
  
  #fork5check:checked ~ #forkwrapper > #fork5label {
    display: block;
  }

  #stillhungry { 
    position: fixed; /*how to center*/
    right: calc(20vw - 25vh);
    top: 20vh;
    width: 500px;
    height: 500px;
    background-image: url(stillhungry.png);
    background-size: 500px;
    z-index: 1;
  }

  #stillhungry:hover {
    background-image: url(stillhungryhover.png);
    cursor: grab;
  }

  #layers {
    position:absolute;
    left: 15vw;
    top:calc(50vh - 12vw);
    z-index: 0;
    width: 30vw;
    height: 40vh;
    background-size: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Layers.png);
  }

  #layers:hover {
    cursor: not-allowed;
    background-image: url(LayersHover.png);
  }