body {
    background-color: black;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

audio {
    display: none;
  }

/* make button a soft gold, active makes it bright white*/
.startbutton {
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    width: 6vw;
    background-color: black;
    position: absolute;
    left: 45vw;
    top: 80vh;
    z-index: 1;
  }

  .startbutton:active {
    background: radial-gradient(#AB9309, #b5a759, #FAF4CF);
  }

  .banner {
    margin-top: calc(50vh - 50px);
    position: absolute;
    left: 50vw;
    top: -10vh;
    width: 100vw;
    text-align: center;
    /*overflow: hidden;
    /*position: relative;*/
  }

  .banner .slider {
    position: absolute;
    width: 300px;
    height: 300px;
    left: (calc(50% - 100px));
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateX(-50%) rotateY(0deg);
    /*animation: spin 20s linear infinite;*/
  }

  /*@keyframes spin {
    from {
      transform: translateX(-50%) rotateY(0deg);
    }
    to {
      transform: translateX(-50%) rotateY(360deg);
    }
  }*/

  .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360/var(--quantity)) * 1deg))
        translateZ(550px);
  }

  .banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
