body {
    background-color: black;
    color: white;
}

audio {
    display: none;
  }

/* make button a soft gold, active makes it bright white*/
.startbutton {
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    width: 6vw;
    background-color: black;
    position: relative;
    left: 42vw;
    top: 80vh;
    z-index: 1;
  }

  .startbutton:active {
    outline: blue auto 5px;
    background-color: white;
  }

  .banner {
    position: absolute;
    left: 50vw;
    width: 100%;
    height: 100vh;
    text-align: center;
    /*overflow: hidden;
    /*position: relative;*/
  }

  .banner .slider {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 10%;
    left: (calc(50% - 100px));
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateX(-50%);
    animation: spin 20s linear infinite;
  }

  @keyframes spin {
    from {
      transform: translateX(-50%) rotateY(0deg);
    }
    to {
      transform: translateX(-50%) rotateY(360deg);
    }
  }

  .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360/var(--quantity)) * 1deg))
        translateZ(550px);
  }

  .banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
