body {
    color: whitesmoke;
    background-color: #4290FF;
    /*background: linear-gradient(#FFEC99,#CBEFF5, #164FC4);*/
}

#page2 {
    background-color: #CBEFF5;
    color: rgb(133, 133, 133);
}

#page3 {
    background-color: #0e3c71;
}

#page4 {
    background-color: #2a5fdc;
}

#page5 {
    color: #fff;
    margin: 0px auto;
}

table {
    width: 100%;
}

td {
    width: 50%;
    text-align: center;
    /* border: black 1px solid; */
}

td img {
    width: 100%;
}

.duck {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 45vh;
    /* how to always center this position in window */
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    background-image: url(Duck.png);
}

.backduck {
    width: 50px;
    height: 50px;
    image-rendering: pixelated;
}

.duck a img {
    width: 100%;
}

.backduck a img {
    width: 100%;
}

.first {
    left: 17.5vw;
}

.first:hover {
    background-image: url(DuckDuckGooseDuck.png);
}

.second {
    left: 37.5vw;
}

.second:hover {
    background-image: url(DonaldDuckDuck.png);
}

.third {
    left: 57.5vw;
}

.third:hover {
    background-image: url(DuckDynastyDuck.png);
}

.fourth {
    left: 77.5vw;
}

.fourth:hover {
    background-image: url(LemonadeStandDuck.png);
}

.bottomleft {
    position: fixed;
    bottom: 20px;
    left: 35px;
}

h1 {
    font-size: 120px;
}

.apple {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 85vh;
    right: 10vh;
    /* how to always center this position in window */
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    background-image: url(GreenApple.png);
}

.smallduck {
    position: absolute;
    width: 75px;
    height: 75px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75px;
    background-image: url(Duck.png);
}

.sd1 {
    top: 46vh;
    left: 17vw;
}

.sd2 {
    top: 60vh;
    left: 60vw;
}

.sd3 {
    top: 80vh;
    left: 30vw;
}

.sd4 {
    top: 18.5vh;
    left: 42.2vw;
}

.sd5 {
    top: 40vh;
    left: 38vw;
}

.sdgoose {
    position: absolute;
    top: 35vh;
    left: 80vw;
    width: 75px;
    height: 75px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75px;
}

.flipease>div {
    transition: 1s ease;
}

.wrapper {
    position: absolute;
    top: 35vh;
    left: 80vw;
    width: 75px;
    height: 175px;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 1s;
}

.wrapper:hover {
    transform: rotateY(180deg);
    transition: 1s;
}

.front {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 75px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75px;
    background-image: url(Duck.png);
    backface-visibility: hidden;
}

.back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 175px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75px 175px;
    transform: rotateY(180deg);
    background-image: url(Goose.png);
    backface-visibility: hidden;
}

#donaldascii {
    color: #0c3a6e;
}

.centerLA {
    position: absolute;
    top: 32vh;
    left: calc(50vw - 190px);
    z-index: 1;
}

.monroe {
    position: absolute;
    top: 50px;
    left: 180px;
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 2px 2px 20px #cdcdcd;
}

.monroe:hover {
    background-color: rgb(166, 0, 0);
    box-shadow: 2px 2px 20px #757575;
}

/*#arrow-right:target {
    display: block;
}*/

input[type=checkbox] {
    position: absolute;
    top:-9999px;
    left:-9999px;
}

label {
    cursor: pointer;
}

div.showhide {
    display:none;
}

input[type=checkbox]:checked ~ div.showhide {
    display:inline-block;
}

#arrow-right {
    /*display: none;*/
    position: absolute;
    top: 10px;
    left: 200px;
    width: 200px;
    height: 10px;
    background-color: #39ef5d;
    transform: rotate(-25deg);
    z-index: 2;
}

#arrow-right::before {
    content: "";
    display: block;
    width: 40px;
    height: 10px;
    background-color: #39ef5d;
    position: relative;
    top: -11px;
    left: -9px;
    transform: rotate(-45deg);
}

#arrow-right::after {
    content: "";
    display: block;
    width: 40px;
    height: 10px;
    background-color: #39ef5d;
    position: relative;
    left: -9px;
    transform: rotate(45deg);
}

#cryingduck {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 300px;
    left: 350px;
    /* how to always center this position in window */
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 300px;
    background-image: url(CryingDuck.png);
}

#militaryduck {
    position: absolute;
    width: 350px;
    height: 350px;
    top: -340px;
    left: -330px;
    /* how to always center this position in window */
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
    background-image: url(MilitaryDuck.png);
    transform: scale(-1, 1)
    rotate(-15deg);
}

#westmonroetext {
    position: absolute;
    top: -100px;
    left: 420px;
    color: #39ef5d;
}

#cryingtext {
    position: absolute;
    top: 420px;
    left: 170px;
    color: #e6d709;
}

#enlisttext {
    position: absolute;
    top: -320px;
    left: 60px;
    color: #ff0000;
}

#efforttext {
    position: absolute;
    top: 75px;
    left: -175px;
    transform: scale(2.5);
}

#top-lemonade-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #323fb9;
    overflow: hidden;
}

#stand {
    background-image: url(LemonadeStand.png);
    display: block;
    margin: auto;
    position: relative;
    top: 25vh;
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;
}


#scent {
    background-image: url(Scent.png);
    display: block;
    margin: auto;
    position: relative;
    top: 55vh;
    width: 150px;
    height: 150px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px;
}

#bottom-grape-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #d4c1f7;
    color: #000000;
    z-index: -1;
}

.bottomtext {
    position: fixed;
    top: 55vh;
    left: 35vw;
}

#grapes {
    background-image: url(Grapes.png);
    position: fixed; 
    /*top: calc(50vh - 20.5vh);
    left: calc(50vw - 8.5vw);*/
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
    width: 400px;
    height: 400px;
    background-size: 400px;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-100px;
}
