@import url('https://fonts.googleapis.com/css?family=Amiko');
@import url('https://fonts.googleapis.com/css?family=Allura');

body {
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    background-color: #E6D4BC;
}

/* add arrow at bottom*/
#top-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #737687;
    overflow: hidden;
}

#top-wrapper h2 {
    line-height: 4;
}

#top-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 10vw;
}

h2 {
    font-size: 40px;
    font-family: 'amiko';
}

#bottom-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #E6D4BC;
    z-index: -1;
    box-sizing: border-box;
  padding-bottom: 10vh; 
}

#bottom-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-tiny {
    width: 15vw;
    margin-bottom: 10vh;
}

.img-tiny:hover {
    filter: drop-shadow(0px 5px 16px #daae10); 
}

.img-small {
    width: 20vw;
}

.img-medium {
    width: 60vw;
}

h1 {
    font-size: 150px;
    margin: 0;
    font-family: 'allura';
    letter-spacing: 20px;
}

.button {
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .connect {
    background-color: #daae10;
    margin-bottom: 5vh;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
  }

  .connect:hover {
    filter: drop-shadow(0px 5px 16px #646464); 
  }

  .bottomborder {
    background-color: rgb(242, 176, 235);
    font-size: 11px;
  }